src/main/resources/location.wsdl

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://service/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="ShopServiceService" targetNamespace="http://service/">
<wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://service/" elementFormDefault="unqualified" targetNamespace="http://service/" version="1.0">
<xs:element name="findShopLocation" type="tns:findShopLocation"/>
<xs:element name="findShopLocationResponse" type="tns:findShopLocationResponse"/>
<xs:element name="hello" type="tns:hello"/>
<xs:element name="helloResponse" type="tns:helloResponse"/>
<xs:complexType name="hello">
<xs:sequence>
<xs:element minOccurs="0" name="nom" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="findShopLocation">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="findShopLocationResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:location"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="location">
<xs:sequence>
<xs:element minOccurs="0" name="coordX" type="xs:string"/>
<xs:element minOccurs="0" name="coordY" type="xs:string"/>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
</wsdl:types>
<wsdl:message name="helloResponse">
<wsdl:part element="tns:helloResponse" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:message name="findShopLocationResponse">
<wsdl:part element="tns:findShopLocationResponse" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:message name="hello">
<wsdl:part element="tns:hello" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:message name="findShopLocation">
<wsdl:part element="tns:findShopLocation" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:portType name="ShopService">
<wsdl:operation name="hello">
<wsdl:input message="tns:hello" name="hello"> </wsdl:input>
<wsdl:output message="tns:helloResponse" name="helloResponse"> </wsdl:output>
</wsdl:operation>
<wsdl:operation name="findShopLocation">
<wsdl:input message="tns:findShopLocation" name="findShopLocation"> </wsdl:input>
<wsdl:output message="tns:findShopLocationResponse" name="findShopLocationResponse"> </wsdl:output>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="ShopServiceServiceSoapBinding" type="tns:ShopService">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="hello">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="hello">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="helloResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="findShopLocation">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="findShopLocation">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="findShopLocationResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="ShopServiceService">
<wsdl:port binding="tns:ShopServiceServiceSoapBinding" name="ShopServicePort">
<soap:address location="http://localhost:8080/LocationEJB/ShopService"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>